node_modules
node_modules/
.next/
out/
.env.local
.env*.local
.env
.env.*
*.pem
logs
*.log
npm-debug.log*
pnpm-lock.yaml
dist
build
coverage
coverage/
*.tsbuildinfo
/.next
/.venv
__pycache__/
*.pyc
*.pyo
*.pyd
/.pytest_cache
.turbo
.turbo/**
.vscode
.DS_Store
.idea
package.json.local.backup
.last_pr_branch
.codely-cli/
scripts/changes.patch
scripts/changes2.patch
